@use "../general.module";

.order-detail {
  max-width: 80rem;
  padding: 2rem;
  margin: 0 auto;

  @media only screen and (max-width: general.$bp-small) {
    padding: 1rem;
  }

  &__info {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: general.$bp-small) {
      flex-direction: column;
    }
  }

  &__items {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  &__amount {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: right;
    & span {
      font-weight: 600;
    }
  }
}
