@use "../../sass/general.module";

.products {
  width: 80%;
  margin: 0 auto;

  & h1 {
    text-align: center;
    margin: 1rem 0 4rem 0;
    font-weight: 600;
  }

  &__container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;

    @media only screen and (max-width: general.$bp-largest) {
      padding: 0.5rem;
      gap: 0.5rem;
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: general.$bp-medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: general.$bp-smallest) {
      grid-template-columns: 1fr;
    }
  }
}
