@use "../../sass/general.module";

.sarch-results {
  width: 75%;
  margin: 0 auto;

  &__not-found {
    text-align: center;
    padding-top: 3rem;
    & span {
      color: general.$color-primary-light--3;
    }
  }

  &__content {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem;

    @media only screen and (max-width: general.$bp-largest) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: general.$bp-medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: general.$bp-small) {
      grid-template-columns: 1fr;
    }
  }

  &__counts {
    margin: 1rem;
    color: general.$color-primary-light--3;

    & span {
      color: general.$color-primary;
      font-weight: bold;
    }
  }
}
